* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* remove scroll horizontal se necessário */
}
header{    
    display: block;    
    background: #ffffff;
    height: 100%
    max-height:31vh;
    width:100%;
}
.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    align-items: center; 
    text-align: center;
    height: inherit;
}
h2, p, h3{
    color: #13bac2;
}
.primeira{
    display: block;    
    justify-content: center;
    width: 100%;
    height: 100%;  
}
.top-bar{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 5px:
}
.esq{
    text-align: left !important;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px;
}
.cen{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}    
.dir{
    text-align: right !important;
    display: block;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}
.esq2{
    text-align: left !important;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: left;
}
.cen2{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    align-items: center;
}
.dir2{
    text-align: right !important;
    display: flex;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    align-items: center;
    justify-content: right;
}
@media (max-width: 768px){
    .d-none{
        display: none;
    }
}
.corpo{
    background: linear-gradient(to bottom, #ffc429, #fe4d8a);
    width: 100vw;
    height: 150vh;
}
.ultimaLinhaHeader{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #13bac2;
}
.lista1{
    text-align: center;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #13bac2;
    list-style: none;
}
.il{
    text-align: center !important;
    display: inline-block;
    list-style: none;    
    padding: 10px;
}
a{
    text-decoration: none;
    color: #13bac2;
}
.logo{
    max-width: fit-content;
    max-height: fit-content;
}
.praia{
    width: 650px;
    height: auto;
    border: 1px solid #13bac2;
    border-radius: 10 px;    
}
.texto{
    position: relative;
    top: 125px;    
}
.pad{
    position: relative;
    top: 215px;
    padding: 70px;    
    width: 1000px;
    height: auto;
}













