* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* remove scroll horizontal se necessário */
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, rgb(220, 153, 231), rgb(215, 43, 241));
}
h1{
    display: flex;
    height: 50vh;
    width: 50vw;
    color:rgb(245, 235, 104);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}
section{
    display: flex;
    height: 300vh;
    width: 100vw;
    background-color: rgb(215, 43, 241);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    align-items: center;    
}
h2, p{
    color: rgb(245, 235, 104);
}