* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* remove scroll horizontal se necessário */
    color-scheme: light only;
    background: linear-gradient(to bottom, #ffc429, #fe4d8a);
}
header{    
    display: block;    
    background: #ffffff;    
    width: 100%;
}
.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3%;
    align-items: center; 
    text-align: center;
    height: inherit;
    padding-left: 8vw;
    padding-right: 8vw;
}
h2, p, h3{
    color: #13bac2;
}
.primeira{
    display: block;    
    justify-content: center;
    width: 100%;
    height: 100%;  
}
.top-bar{
    display: flex;
    flex: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 5px;
}
.esq{
    text-align: left !important;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px;
}
.cen{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}    
.dir{
    text-align: right !important;
    display: block;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}
.esq2{
    text-align: left !important;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: left;
}
.cen2{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    align-items: center;
}
.dir2{
    text-align: right !important;
    display: flex;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
    align-items: center;
    justify-content: right;
}
@media (max-width: 768px){
    .d-none{
        display: none;        
    }
    .fotomobile{
        flex: 0 0 50%;
        max-width: 50%;        
    }
    .fotobloco{   
        flex: 0 0 48% !important;      
    }
}
@media (prefers-color-scheme: dark) {
    body {
        -webkit-filter: none !important;
        filter: none !important; /* Remove filtros automáticos */
    }
}
.ultimaLinhaHeader{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #13bac2;
}
.lista1{
    text-align: center;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #13bac2;
    list-style: none;
}
.il{
    text-align: center !important;
    display: inline-block;
    list-style: none;    
    padding: 10px;
}
a{
    text-decoration: none;
    color: #13bac2;
}
.logo{
    max-width: fit-content;
    max-height: fit-content;
}
.praia{
    width: 100%;
    height: auto;
    border: 1px solid #13bac2;
    border-radius: 10px;    
}
.texto{
    position: relative;  
    padding-top: 35px;  
    padding-bottom: 65px;   
}
.padhorizontal{
    position: relative;  
    width: 100%;
    height: auto;
}
.padvertical{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    width: inherit;
    height: auto;
    padding-top: 15px;
}  
.fotobloco{ 
    margin-bottom: 15px;    
    flex: 0 0 23%;
}
.praiavertical{
    display: block;
    position: relative;  
    width: 100%;
    height: auto;
    border-radius: 10%;
    border: 1px solid #13bac2;
}
.sand{
    color: #f9c773 !important;
}
section{
    display: block;
}