* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* remove scroll horizontal se necessário */
}
header{    
    display: block;
    height: 31vh;    
    background: #282828;
}
.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    align-items: center;    
}
h2, p, h3{
    color: #BFA16A;
}
.primeira{
    display: block;    
    justify-content: center;
    width: 100%;
    height: 100%;  
}
.naosei{
    display: flex;
    flex: wrap;
    flex-direction: row;
}
.esq{
    text-align: left !important;
    display: block !important;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 15px;
}
.cen{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}    
.dir{
    text-align: right !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}
.esq2{
    text-align: left !important;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: left;
}
.cen{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    align-items: center;
}
.dir2{
    text-align: right !important;
    display: flex;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    align-items: center;
    justify-content: right;
}      
.corpo{
    background-color:#FAF9F6;
    width: 100vw;
    height: 100vh;
}
.ultimaLinhaHeader{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #BFA16A;
}
.lista1{
    text-align: center;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid #BFA16A;
    list-style: none;
}
.il{
    text-align: center !important;
    display: inline-block;
    list-style: none;    
    padding: 10px;
}
a{
    text-decoration: none;
    color: #BFA16A;
}
.logo{
    max-width: fit-content;
}