* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* remove scroll horizontal se necessário */
}
header{    
    display: block;
    height: 25vh;    
    background: linear-gradient(180deg, rgb(220, 153, 231), rgb(215, 43, 241));
}
.apresentação{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
    align-items: center;    
}
h2, p, h3{
    color: rgb(245, 235, 104);
}
.primeira{
    display: block;    
    justify-content: center;
    width: 100%;
    height: 100%;  
}
.naosei{
    display: flex;
    flex: wrap;
    flex-direction: row;
}
.cont{
    text-align: left !important;
    display: block !important;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 15px;
}
.desc{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}    
.extra{
    text-align: right !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
}
.corpo{
    background-color:rgb(215, 43, 241);
    width: 100vw;
    height: 100vh;
}
.ultimaLinhaHeader{
    text-align: center !important;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid rgb(245, 235, 104);
}
.lista1{
    text-align: center;
    display: block !important;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    border-top: 1px solid rgb(245, 235, 104);
    list-style: none;
}
.il{
    text-align: center !important;
    display: inline-block;
    list-style: none;    
    padding: 10px;
}